

// 75.757px
// 4.735em

// 67.34px
// 4.209em

// 56.832px
// 3.552em

// 50.517px
// 3.157em

// 42.635px
// 2.665em

// 37.897px
// 2.369em

// 31.984px
// 1.999em

// 28.43px
// 1.777em

// 23.994px
// 1.5em

// 21.328px
// 1.333em

// 18px
// 1.125em

// 16px
// 1em

// 13.503px
// 0.844em

// 12.003px
// 0.75em

// 10.13px
// 0.633em

// 9.005px
// 0.563em

// 7.599px
// 0.475em

// 6.755px
// 0.422em

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




// FONTS


@font-face {
  font-family: 'Proxima Nova bold';
  src: url('../../dist/fonts/ProximaNova-Bold.eot');
  src: url('../../dist/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Bold.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova semibold';
  src: url('../../dist/fonts/ProximaNova-Semibold.eot');
  src: url('../../dist/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova semibold italic';
  src: url('ProximaNova-SemiboldIt.eot');
  src: url('../../dist/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../dist/fonts/ProximaNova-Regular.eot');
  src: url('../../dist/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Regular.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontastic';
  src: url('../../dist/fonts/fontastic.eot');
  src: url('../../dist/fonts/fontastic.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/fontastic.woff') format('woff'),
  url('../../dist/fonts/fontastic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// [class^="icon-"]:before,
// [class*=" icon-"]:before {
//   font-family: "untitled-font-1" !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   font-variant: normal !important;
//   text-transform: none !important;
//   speak: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-mail:before {
//   content: "\62";
// }
// .icon-phone:before {
//   content: "\61";
// }




@font-face {
  font-family:'Helvetica Neue Bold';
  src: url('../../dist/fonts/helvetica-neue-bold.eot');
  src: url('../../dist/fonts/helvetica-neue-bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/helvetica-neue-bold.woff2') format('woff2'),
  url('../../dist/fonts/helvetica-neue-bold.woff') format('woff'),
  url('../../dist/fonts/helvetica-neue-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT SETTINGS

/* Single property */
html {
  @include fluid-type(font-size, 320px, 1366px, 15px, 18px);
  background-color:#f5f5f5;
   box-sizing: border-box;
   color:#0F1626;
   font-family: 'Proxima Nova';
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* Multiple properties with same values */
h1 {
  font-family: 'Helvetica Neue Bold';
  line-height:1.25;
  @include fluid-type(font-size, 20rem, 100rem, 1.777rem, 3.157rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 0.5em, 0.5em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: 'Proxima Nova';
  line-height:1.25;
  font-size:2em;
  @include fluid-type(font-size, 20rem, 100rem, 1.51rem, 1.5rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 0.5em, 0.5em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h3 {
  font-family: 'Helvetica Neue Bold';
  line-height:1.25;
  @include fluid-type(font-size, 20rem, 100rem, 1.777rem, 1.999rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 0.5em, 0.5em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h4 {
  font-family: 'Helvetica Neue Bold';
  line-height:1.25;
  @include fluid-type(font-size, 20rem, 100rem, 1.555rem, 1.777rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 0.5em, 0.5em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p{
  font-family: 'Proxima Nova';
  font-size:1.125em;
  line-height:1.5;
  @include fluid-type(font-size, 20rem, 100rem, 1rem, 1rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 1em, 1em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




//GENERAL

.wrapper{
  width:93.75%;
  margin: 0 auto;
  max-width:1280px;
}

section.opening .wrapper{
    width:72%;
}

 .main.project footer .wrapper{
    max-width:1280px;  
}





a{
  cursor:pointer;
  text-decoration:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.line {
  @include bp(babybear){
     display: inline-block;
  }
 
}

.noise_container{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      pointer-events: none;
      z-index: 1;
      &:before{
        content: '';
        position: absolute;
        top: -100%;
        left: -100%;
        height: 300%;
        width: 300%;
        background: url(../../dist/images/noise.png);
        pointer-events: none;
        display: block;
        opacity: .4;
        animation: grain 2s steps(10) infinite;

      }
}

@-webkit-keyframes grain{
  0%,to{transform:translate(0);transform:translate(0)}
  10%{transform:translate(-5%,-10%);transform:translate(-5%,-10%)}
  20%{transform:translate(-15%,5%);transform:translate(-15%,5%)}
  30%{transform:translate(7%,-25%);transform:translate(7%,-25%)}
  40%{transform:translate(21%,25%);transform:translate(21%,25%)}
  50%{transform:translate(-25%,10%);transform:translate(-25%,10%)}
  60%{transform:translate(15%,5%);transform:translate(15%,5%)}
  70%{transform:translateY(15%);transform:translateY(15%)}
  80%{transform:translate(25%,35%);transform:translate(25%,35%)}
  90%{transform:translate(-10%,10%);transform:translate(-10%,10%)}
}




.backing_strips{
  @include bp(babybear){
    position:absolute;
    background-image: url("../../dist/images/backing_strips.svg");
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
    left: -50%;
    bottom: -50%;
    display:block;
    bottom: 0%;
    width: 130%;
    height: 130%;
  }
}







//NAVIGATION

.home_logo{
      @include fluid-type(font-size, 20rem, 100rem, 1.333rem, 1.5rem);
      @include fluid-type(padding-top, 20rem, 100rem, 1rem, 2rem);
      letter-spacing:0.5px;
      font-family: 'Helvetica Neue Bold';
      float:left;
      color:#fff;
      position:relative;
      &:hover{

      }
    }

    .navigation{
      position: absolute;
      z-index:2;
      width:100%;
    }

    .right_nav{ 
        @include fluid-type(padding-top, 20rem, 100rem, 1.5rem, 2rem);
        letter-spacing:0.5px;
        float:right;
        right:0;
        
        a{
          @include fluid-type(font-size, 20rem, 100rem, 1rem, 0.844rem);
          font-family: 'Proxima Nova semibold';
          color:#fff; 
          position:relative;
          &:after{
            content:'';
            position:absolute;
            left:0;
            right:0;
            border:1px solid #fff;
            bottom:calc(-1rem);
            transform:scale(0,0);
            transform-origin: left top;
            transition: transform 0.2s ease-out;
          }
            &:hover:after{
            transform:scale(1,1);
          }
        }
    }

// SECTIONS



section.intro,section.more_about{
  @include fluid-type(padding-bottom padding-top, 20rem, 100rem, 8rem, 12rem);
  position:relative;
  z-index:2;  
  @include bp(babybear){
    background-image: url("../../dist/images/backing_strips.svg");
     z-index: 1;
  }
  
  .wrapper{
      max-width:960px;
      width:80%;
  }
  p{

    padding-right:20%;
    @include fluid-type(font-size, 20rem, 100rem, 1rem, 1.125rem);
    @include bp(mamabear){
      padding-left:10%;
    }

  }

}

section.intro{
    @include bp(babybear){
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: 0;
  }
}

section.more_about{
    @include bp(babybear){
      background-size: 130%;
      background-repeat: no-repeat;
      background-position: 217% 96%;
  }
}


.mobile,.email{
  font-family: 'Proxima Nova semibold';
  @include fluid-type(font-size, 20rem, 100rem, 1rem, 0.844rem);
  @include fluid-type(letter-spacing, 20rem, 100rem, 0.01rem, 0.01rem);
  color:$darkblue;
  &:before{
    font-family:"fontastic";
    display:inline-block;
    vertical-align:bottom;
   @include fluid-type(margin-right, 20rem, 100rem, 0.5rem,0.5rem);
  }
}

.mobile:before{ 
  content: "\61"; 
}

.email:before{
  content: "\62"; 
}




section.opening{
  height:95vh;
  background-image: url("../../dist/images/GregProfilepic.jpg");
  background-position:50%;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  position:relative;
  @include bp(babybear){
    background-position:60% 50%;
  }
  @include bp(grandpabear){
    background-position:70% 50%;
  }



  .main-title{
    @include fluid-type(font-size, 20rem, 100rem, 2rem, 3.157rem);
    font-family: 'Helvetica Neue Bold';
    letter-spacing:1px;
    z-index:2;
    position:absolute;
    line-height:1;
    top:50%;
    transform:translateY(-50%);
    text-align:left;
    margin:0 auto;
    color:#fff;
    margin:0 auto;
    float:left;
    span{
      font-family: 'Proxima Nova bold';
      color:$yellow;
      font-size:85%;
    }
  }

  // .scroll_down{
  //     @include fluid-type(margin-bottom, 20rem, 100rem, 1.777rem, 1.777rem);
  //     opacity:0.8;
  //     padding:5px;
  //     color:#fff;
  //     position:absolute;
  //     z-index:2;
  //     left:50%;
  //     transform:translateX(-50%);
  //     bottom:0;
  //     border:1px solid #fff;
  //     width:50px;
  //     height:50px;
  //     display: inline-block;
  //     text-align: center;
  //     border-radius:2px;
  //     @include bp(babybear){
  //       opacity:0.8;
  //       width:46px;
  //       height:46px;
  //     }
  //   &:before{
  //     font-family: 'fontastic';
  //     @include fluid-type(font-size, 20rem, 100rem, 1rem, 0.844rem);
  //     content: "\63"; 
  //     display: inline-block;
  //     vertical-align:bottom;
  //     position:absolute;
  //     left:0;
  //     right:0;
  //     top:50%;
  //     transform:translateY(-50%);
  //   }
  //   &:hover{
  //     opacity:1;
  //   }
  // }

}


section.projects{
  position:relative;
  z-index:1;
  @include clearfix();
    width:90vw;
    margin:0 5vw;
  
  @include bp(babybear){
    width:99vw;
    margin:0 0.5vw;
  }

   @include bp(papabear){
    width:99.5vw;
    margin:0 0.25vw;
    background-color:#e6e6e6;
  }

  @include bp(grandpabear){
    background-color:transparent;
  }

  .project{
    width:100%;
    float:left;
    position:relative;
    background-size:100%;
    overflow:hidden;
    margin:3vw 0;
    transition: all 200ms ease-out;
    &:focus{outline:none;}

    @include bp(babybear){
        width:49.5%;
        margin:0.25vw 0.25%;
    }
    @include bp(papabear){
        width:33.08%;
        margin:0.125vw 0.125%;
    }
    @include bp(grandpabear){
        width:24.75%;
    }


    .backing_prev{
      width:100%;
      float:left;
    }
    
  }

  .logo_prev{
    position:absolute;
    z-index:2;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: all 400ms ease-out;
  }
  .kaha .logo_prev{width:5rem;}
  .yukfoo .logo_prev{width:7rem;}
  .loaf .logo_prev{width:8rem;}
  .br .logo_prev{width:6rem;}
  
  .overlay{
    opacity:0;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    transition: opacity 300ms ease-out;
    @include bp(babybear){
       opacity:0.5;
    }
  }

  .loaf .overlay{background-color:#000;}
  .yukfoo .overlay{background-color:#C31D17;}
  .br .overlay{background-color:#2E0A2D;}
  .kaha .overlay{background-color:#004997;}

  .project:hover{
    .overlay{
      opacity:0;
    }
    .logo_prev{
      transform:translate(-50%,-50%) scale(1.05,1.05);
      transform-origin: center center;
    }
  }

  .project:active{
    .overlay{background-color:$yellow;}

  }
}





.icons_container{
  display:inline-block;
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 2em, 2em);
  a:first-child{margin-left:0!important;}

  @include bp(mamabear){
      padding-left:10%;
    }


  a{
    background-color:$yellow;
    border:1px solid transparent;
    cursor:pointer;
    display: inline-block;
    vertical-align:middle;
    transition: all 0.5s ease-out;
    padding:1rem;
    width:4rem;
    height:4rem;
    @include fluid-type(margin-left margin-right, 20em, 70em, 0.25em, 0.5em);
    
      svg{
        margin-top: 50%;
        transform: translateY(-50%);
        width:100%;
      }
      &:hover{
        // background-color:$darkblue;
        // g{fill:$yellow;}
      }
  }
}








//PROJECTS

section.project_wrapper{
  width:100%;
  margin:0 auto;
  max-width:1280px;
  img{
    width:100%;
  }
}



//PROJECT PAGES GENERAL



.main.project{
  .wrapper{
      width:90%;
      max-width:960px;
    }

    .wrapper.text{
      width:82%;
      max-width:885px;
    }




  .project_intro{
    @include fluid-type(padding-bottom, 20em, 70em, 6em, 8em);
    color:#fff;
    background-position:50% 0;
    background-size:100% auto;
    background-repeat:no-repeat;
    width:100%;
    position:relative;

    

    .background-blur_container{
      position:absolute;
      bottom:0;
      width:100%;
      height:100%;
      overflow:hidden;
    }

    .background-blur{
      position:absolute;
      bottom:0;
      width:100%;
      height:60%;
      filter: blur(4vw);
    }

    .project_title{
      font-family: 'Helvetica Neue Bold';
      border-top:2px solid #FFF;
      line-height:1.25;
      @include fluid-type(font-size, 20rem, 100rem, 1.333rem, 1.777rem);
      @include fluid-type(padding-top, 20em, 70em, 1em, 1em);
      @include fluid-type(padding-bottom, 20em, 70em, 0.5em, 0.5em);
      -webkit-font-smoothing: antialiased;
      @include bp(babybear){
        border-top:none;
        padding-top:0;
      }
    }


    
    .skills{
      line-height:2;
      text-transform:uppercase;
      @include fluid-type(font-size, 20rem, 100rem, 0.844rem, 0.844rem);
      @include fluid-type(padding-bottom, 20em, 70em, 3em, 2em);
      @include fluid-type(letter-spacing, 20em, 70em, 0.25em, 0.25em);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    }

    h1{
      color:#fff;
      text-align:center;
      @include fluid-type(padding-top, 20em, 70em, 4em, 4em);
      @include fluid-type(padding-bottom, 20em, 70em, 3em, 3em);
      max-width:800px;
      width:90%;
      margin:0 auto;
      position:relative;
      z-index:1;
    }
  }

  .project_image{
    width:100%;
  }

}

.project_segments{
    z-index:1;
    @include fluid-type(padding-top, 20em, 70em, 4em, 4em);
    section{
      @include fluid-type(padding-bottom padding-top, 20em, 70em, 3em, 3em);
    }

    section.dbl_paddingtop{
      @include fluid-type(padding-top, 20em, 70em, 6em, 6em);
    }

    section.blue_back{
      background-image: url(../../dist/images/intropaper_kaha.jpg);
      background-size:cover;
      color:#fff;
    }

    section.lightgray_back{
      background-color:#E6E9EC;

    }
    section.no_padding_bottom{
      padding-bottom:0;
    }
}

.project_screen{
  width:100%;
  padding-top:2rem;
  margin-bottom:-3px;
}




.flexbox_container{
    h3{
      padding-top:0;
    }
      @include bp(babybear){
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width:100%;
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .left_panel{
       z-index:1;
       position:relative;
      @include bp(babybear){
        width:33.33%;
      }
    }
    .right_panel{
       position:relative;
       z-index:1;
      h2{
        padding-top:0;
      }
      p{
        padding-top:0;
      }
      @include bp(babybear){
        width:56.52%;
      }
    }
}



footer{
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 1.333em, 1.333em);
  background-color:$yellow;
  display:inline-block;
  width:100%;
  position:relative;
  @include bp(babybear){
    // padding-bottom:0;
  }

  a{color:$darkblue;}

    
  .footer_home{
    font-family: 'Helvetica Neue Bold';
    @include fluid-type(font-size, 20rem, 100rem, 1.5rem, 1.5rem);
    @include fluid-type(padding-bottom, 20rem, 100rem, 0.5rem, 0.5rem);
    display:inline-block;
    text-align:right;
  }

  .contactdets{
    display:inline-block;
    
    float:left;
    @include bp(babybear){
      float:right;
    }


  }

  .mobile,.email{  
    @include fluid-type(padding-top, 20rem, 100rem, 0.375rem, 0.375rem);
    margin-right:1rem;
    display:inline-block;

    @include bp(babybear){
      margin-right:0;
      margin-left:1rem;
    }

  }
}

  


.project.kaha footer{background-color:$kaha-color;a{color:#fff;}}
.project.yukfoo footer{background-color:$yukfoo-color;a{color:#fff;}}
.project.loaf footer{background-color:$loaf-color;a{color:#fff;}}
.project.br footer{background-color:$br-color;a{color:#fff;}}
    




//PROJECT SPECIFIC

.main.project.yukfoo .project_intro{
  background-color: #CC3730;
  background-image: url("../../dist/images/intropaper_yukfoo.jpg");
  .background-blur{background-color:rgba(204,55,48,0.5);}
  .yukfoo_logo{
    @include fluid-type(padding-bottom, 20em, 70em, 1em,1em);
    @include fluid-type(width, 20em, 70em, 7em, 7em);
  } 
}

.main.project.loaf .project_intro{
  background-color: #000;
  background-image: url("../../dist/images/intropaper_loaf.jpg");
  .background-blur{background-color:rgba(0,0,0,0.5);}
  .loaf_logo{
    @include fluid-type(padding-bottom, 20em, 70em, 1em,1em);
    @include fluid-type(width, 20em, 70em, 8em, 8em);
  } 
}

.main.project.br .project_intro{
  background-color:rgba(48,16,47,1);
  background-image: url("../../dist/images/intropaper_br.jpg");
  .background-blur{background-color:rgba(48,16,47,0.8);}
  .br_logo{
    @include fluid-type(padding-bottom, 20em, 70em, 1em,2em);
    @include fluid-type(width, 20em, 70em, 6em, 5em);
  } 
}

.main.project.kaha .project_intro{
  background-color:rgba(20,139,223,1);
  background-image: url("../../dist/images/intropaper_kaha.jpg");
  .background-blur{background-color:rgba(20,139,223,0.8);}
  .kaha_logo{
    @include fluid-type(padding-bottom, 20em, 70em, 1em,2em);
    @include fluid-type(width, 20em, 70em, 5em, 5em);
  } 
}



