

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




// FONTS


@font-face {
  font-family: 'Proxima Nova bold';
  src: url('../../dist/fonts/ProximaNova-Bold.eot');
  src: url('../../dist/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Bold.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova semibold';
  src: url('../../dist/fonts/ProximaNova-Semibold.eot');
  src: url('../../dist/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova semibold italic';
  src: url('ProximaNova-SemiboldIt.eot');
  src: url('../../dist/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../dist/fonts/ProximaNova-Regular.eot');
  src: url('../../dist/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../../dist/fonts/ProximaNova-Regular.woff') format('woff'),
  url('../../dist/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../../dist/fonts/helvetica-neue-bold.eot');
  src: url('../../dist/fonts/helvetica-neue-bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/helvetica-neue-bold.woff2') format('woff2'),
  url('../../dist/fonts/helvetica-neue-bold.woff') format('woff'),
  url('../../dist/fonts/helvetica-neue-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT SETTINGS

/* Single property */
html {
  @include fluid-type(font-size, 320px, 1366px, 15px, 18px);
  background-color:#f5f5f5;
   box-sizing: border-box;
   color:#0F1626;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* Multiple properties with same values */
h1 {
  font-family: 'Helvetica Neue Bold';
  line-height:1.25;
  @include fluid-type(font-size, 20em, 70em, 2rem, 3.157rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 1em, 1em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h2{
  font-family: 'Proxima Nova';
  line-height:1.5;
  font-size:2em;
  @include fluid-type(font-size, 20em, 70em, 1.333rem, 1.777rem);
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 0.5em, 0.5em);
  text-align:center;
}


p{
  font-family: 'Proxima Nova';
  font-size:1.125em;
  line-height:1.5;
  @include fluid-type(padding-bottom, 20em, 70em, 0.5em, 0.5em);
}




//GENERAL

.wrapper{
  width:93.75%;
  margin: 0 auto;
  max-width:1280px;
}

// SECTIONS
section h1{
    text-align:center;
}

section p{
  text-align:center;
  max-width:800px;
  margin: 0 auto;
}

section.intro,section.more_about{
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 10em, 14em);
  h1{
    max-width:960px;
    margin:0 auto;
  }
  h2{
    max-width:960px;
    margin:0 auto;
  }
}

section.opening{
  height:90vh;
  background-image: url("../../dist/images/GregProfilepic.jpg");
  background-position:50%;
  background-size:cover;
  background-repeat:no-repeat;
  width:94vw;
  margin:3vw 3vw 0;
  position:relative;
  @include bp(babybear){
    width:97vw;
    margin:1.5vw 1.5vw 0;
  }
  @include bp(grandpabear){
    width:98vw;
    margin:1vw 1vw 0;
  }
  h1.main-title{
    @include fluid-type(font-size, 20em, 70em, 2.369rem, 4.209rem);
    letter-spacing:1px;
    position:absolute;
    line-height:1;
    top:50%;
    transform:translateY(-50%);
    text-align:left;
    margin:0 auto;
    color:#fff;
    margin:0 auto;
    float:left;
    span{
      font-family: 'Proxima Nova bold';
      color:$yellow;
      font-size:85%;
    }
    @include bp(mamabear){
     

    }
  }
}


section.projects{
  @include clearfix();
  width:94vw;
  margin:0 3vw;
  
  @include bp(babybear){
    width:99vw;
    margin:0 0.5vw;
  }

   @include bp(grandpabear){
     max-width:1500px;
     margin: 0 auto;
  }




  .project{
    width:100%;
    float:left;
    position:relative;
    background-size:100%;
    overflow:hidden;
    margin:1.5vw 0;

    @include bp(babybear){
        width:48%;
        margin:1vw 1%;

    }

    img{
      width:100%;
      float:left;
    }

    
  }
  



  .button{
    font-family: 'Proxima Nova';
    font-size:1.125em;
    line-height:1.5;
    text-decoration:none;
    color:#fff;
    position:absolute;
    z-index:1;
    border:1px solid #fff;
    text-align:center;
    border-radius:2px;
    @include fluid-type(padding-top padding-bottom, 20em, 70em, 0.5em, 0.5em);
    @include fluid-type(width, 20em, 70em, 7em, 7em);
    @include fluid-type(bottom, 20em, 70em, 2em, 3em);
    transition: all .5s ease-out;
    margin: 0 auto;
    left: 0;
    right: 0;
    width:auto;
  }

 


  // .kaha .button:hover{background-color:#081c2f;}
  // .br .button:hover{background-color:#631663;}
  // .loaf .button:hover{background-color:#692010;}
  // .yukfoo .button:hover{background-color:#c9423c;}

 

 
  .kaha .button{background-color:#06457F;}
  .br .button{background-color:#160516;}
  .loaf .button{background-color:#1B0804;}
  .yukfoo .button{background-color:#961E1B;}
}





.icons_container{
  text-align:center;
  display:inline-block;
  width:100%;
  @include fluid-type(margin-top, 20em, 70em, 3em, 3em);
  a{
    background-color:$yellow;
    border:1px solid transparent;
    cursor:pointer;
    display: inline-block;
    vertical-align:middle;
    transition: all 0.5s ease-out;
    padding:1em;
    border-radius:4px;
    @include fluid-type(width height, 20rem, 70rem, 4rem, 4rem);
    @include fluid-type(margin-left margin-right, 20em, 70em, 0.5em, 0.5em);
    
      svg{
        margin-top: 50%;
        transform: translateY(-50%);
      }
      &:hover{
        background-color:$darkblue;
        g{fill:$yellow;}
      }
  }
}


section.contact{
  background-image: url("../../dist/images/footer_back.jpg");
  @include fluid-type(padding-bottom padding-top, 20em, 70em, 6em, 8em);
  background-size:cover;
  color:#fff;
  a{
    color:$yellow;
    text-decoration:none;
    &:hover{
      text-decoration:underline;
    }
  }
}


section.project_wrapper{
  width:100%;
  margin:0 auto;
  max-width:1280px;
  img{
    width:100%;
  }
}













