
@font-face {
  font-family: 'AkzidenzGroteskBQ-Reg';
  src: url('AkzidenzGroteskBQ-Reg.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBQ-Reg.otf')  format('opentype'),
	     url('AkzidenzGroteskBQ-Reg.woff') format('woff'), url('AkzidenzGroteskBQ-Reg.ttf')  format('truetype'), url('AkzidenzGroteskBQ-Reg.svg#AkzidenzGroteskBQ-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}
